//- alert Sign-in/ username / password 
extends layout

block content
  main
    section#intro-text
      span Simple Kitchen
      p
        | Simple &amp; Comforting 
        br
        | Recipes All Year Round
    section#registrationform
      include ./form.pug
  footer
    p
    | &copy; Copyright 2021